<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">


            <li>
                <a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> Accueil</a>
            </li>
            <li>
                <a href="{{ path('index_auteur') }}"><i class="fa fa-user"></i>Menu Auteurs</a>
            </li>
            <li>
                <a href="{{ path('categorie_index') }}"><i class="fa fa-bookmark"></i>Menu Categories</a>
            </li>
            <li>
                <a href="{{ path('editeur_index') }}"><i class="fa fa-comments"></i>Menu Editeurs</a>
            </li>
            <li>
                <a href="{{ path('livre_index') }}"><i class="fa fa-book"></i>Menu livres</a>
            </li>
            <li>
                <a href="{{ path('user_index') }}"><i class="fa fa-user"></i>Menu Utilisateurs</a>
            </li>

        </ul>

    </div>

</nav>
