
{{ include ('bibliotheque/navbar.html.twig') }}

{{ include ('bibliotheque/sidebar.html.twig') }}


<!-- ******************** CHANGE THIS ******************** -->
<div class="col-md-6">

<div class="row">

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>{{ nbUsers }}</h3>
                        <small>Users</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-comments fa-5x green"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>{{ nbLivers }}</h3>
                        <small>Livers</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-book fa-5x yellow"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>{{ nbCategories }}</h3>
                        <small>Users</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-comments fa-5x green"></i>
                </div>

            </div>
        </div>
    </div>

</div>
</div>




<!-- ***********************************************************  -->
{{ include ('bibliotheque/footer.html.twig') }}
