</div>

</div>
</div>



</body>

<!-- JavaScript Libraries --> <!-- jQuery Js -->
<script src="{{ asset('js/jquery-1.10.2.js') }}></script>
        <!-- Bootstrap Js -->
        <script src="{{ asset('js/bootstrap.min.js') }}></script>
<!-- Metis Menu Js -->
<script src="{{ asset('js/jquery.metisMenu.js') }}></script>
        <script src="{{ asset('js/custom.js') }}></script>

<script src="{{ asset('biblio/js/main.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ asset('biblio/lib/easing/easing.min.js')}}"></script>
<script src="{{ asset('biblio/lib/slick/slick.min.js')}}"></script>


<!-- Template Javascript -->
</body>